@import url('navbar.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2563eb;
    --primary-hover: #1d4ed8;
    --text-dark: #000000;
    --text-light: #64748b;
    --bg-light: #000000;
    --white: #ffffff;
    --main-font: 'Rajdhani', sans-serif;
    --transition: all 0.3s ease;
}

body {
    font-family: var(--main-font);
    background-color: var(--white);
    color: var(--text-dark);
}

main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}